<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <appSettings>
    <add key="LoggingIntervalType" value="Minutes" />
    <add key="LoggingTimeInterval" value="1" />
  </appSettings>
  <modules>
    <module moduleName="UiModule" startupLoaded="true" assemblyFile="Magar.Ui.dll"
            moduleType="Magar.Ui.UiModule, Magar.Ui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="HardwareAbstractionLayerModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.Framework.dll" moduleType="E3.ReactorManager.Framework.FrameworkModule, E3.ReactorManager.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FrameworkModule" startupLoaded="true"/>
    <module assemblyFile="E3.ReactorManager.DataAbstractionLayer.dll" moduleType="E3.ReactorManager.DataAbstractionLayer.DataAbstractionLayerModule, E3.ReactorManager.DataAbstractionLayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DataAbstractionLayerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="FrameworkModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.HardwareAbstractionLayer.dll" moduleType="E3.HardwareAbstractionLayer.HardwareAbstractionLayerModule, E3.HardwareAbstractionLayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="HardwareAbstractionLayerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule" />
        <dependency moduleName="ControllerProviderModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.ControllerProvider.dll" moduleType="E3.ReactorManager.ControllerProvider.ControllerProviderModule, E3.ReactorManager.ControllerProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ControllerProviderModule" startupLoaded="true"/>
  </modules>
  <connectionStrings>
    <add name="DBconnection" connectionString="Data Source = .\SQLEXPRESS;Initial Catalog = Magar1;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>