<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="LoggingIntervalType" value="Minutes" />
    <add key="LoggingTimeInterval" value="5" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <targets>
      <target name="TraceLogs" xsi:type="File" fileName="${specialfolder:folder=DesktopDirectory}/Resources/Logs/${longdate:cached=true}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" archiveFileName="${basedir}/logs/archives/log.${shortdate}.{#}.log" archiveAboveSize="5242880" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="20" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="TraceLogs" />
    </rules>
  </nlog>
  <modules>
    <module assemblyFile="E3Tech.RecipeBuilding.dll" moduleType="E3Tech.RecipeBuilding.RecipeBuildingModule,          E3Tech.RecipeBuilding,          Version=1.0.0.0,          Culture=neutral, PublicKeyToken=null" moduleName="RecipeBuildingModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="NavigationModule" />
        <dependency moduleName="RecipePLCIntegratorModule" />
        <dependency moduleName="DataAbstractionLayerModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.Recipe.PLCIntegrator.dll" moduleType="E3.ReactorManager.Recipe.PLCIntegrator.RecipePLCIntegratorModule,          E3.ReactorManager.Recipe.PLCIntegrator,          Version=1.0.0.0,          Culture=neutral, PublicKeyToken=null" moduleName="RecipePLCIntegratorModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="HardwareAbstractionLayerModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.BusinessProcessingUnit.dll" moduleType="E3.ReactorManager.BusinessProcessingUnit.BusinessProcessingUnitModule,             E3.ReactorManager.BusinessProcessingUnit,             Version=1.0.0.0,              Culture=neutral, PublicKeyToken=null" moduleName="BusinessProcessingUnitModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="HardwareAbstractionLayerModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.DesignExperiment.dll" moduleType="E3.ReactorManager.DesignExperiment.DesignExperimentModule,             E3.ReactorManager.DesignExperiment,             Version=1.0.0.0,              Culture=neutral, PublicKeyToken=null" moduleName="DesignExperimentModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule" />
        <dependency moduleName="HardwareAbstractionLayerModule" />
        <dependency moduleName="AuditTrailManagerModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.AuditTrailManager.dll" moduleType="E3.AuditTrailManager.AuditTrailManagerModule,             E3.AuditTrailManager,             Version=1.0.0.0,              Culture=neutral, PublicKeyToken=null" moduleName="AuditTrailManagerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.DialogServices.dll" moduleType="E3.DialogServices.DialogServicesModule,             E3.DialogServices,             Version=1.0.0.0, Culture=neutral, PulicKeyToken=null" moduleName="DialogServicesModule" startupLoaded="true">

    </module>
    <module assemblyFile="E3.ReactorManager.Framework.dll" moduleType="E3.ReactorManager.Framework.FrameworkModule,          E3.ReactorManager.Framework,          Version=1.0.0.0,          Culture=neutral, PublicKeyToken=null" moduleName="FrameworkModule" startupLoaded="true">
    </module>
    <module assemblyFile="E3Tech.Navigation.dll" moduleType="E3Tech.Navigation.NavigationModule,          E3Tech.Navigation,          Version=1.0.0.0,          Culture=neutral, PublicKeyToken=null" moduleName="NavigationModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="FrameworkModule" />
      </dependencies>
    </module>
    <module assemblyFile="USV.ReactorManager.UI.dll" moduleType="USV.ReactorManager.UI.UIModule,            USV.ReactorManager.UI,            Version=1.0.0.0,            Culture=neutral, PublicKeyToken=null" moduleName="UIModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="HardwareAbstractionLayerModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.DataAbstractionLayer.dll" moduleType="E3.ReactorManager.DataAbstractionLayer.DataAbstractionLayerModule,            E3.ReactorManager.DataAbstractionLayer,            Version=1.0.0.0,            Culture=neutral, PublicKeyToken=null" moduleName="DataAbstractionLayerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="NavigationModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.HardwareAbstractionLayer.dll" moduleType="E3.ReactorManager.HardwareAbstractionLayer.HardwareAbstractionLayerModule,            E3.ReactorManager.HardwareAbstractionLayer,            Version=1.0.0.0,            Culture=neutral, PublicKeyToken=null" moduleName="HardwareAbstractionLayerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule" />
        <dependency moduleName="FrameworkModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.ReportsManager.dll" moduleType="E3.ReactorManager.ReportsManager.ReportsManagerModule,            E3.ReactorManager.ReportsManager,            Version=1.0.0.0,            Culture=neutral, PublicKeyToken=null" moduleName="ReportsManagerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule" />
        <dependency moduleName="ParametersProviderModule" />
      <dependency moduleName="DesignExperimentModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.TrendsManager.dll" moduleType="E3.ReactorManager.TrendsManager.TrendsManagerModule,            E3.ReactorManager.TrendsManager,            Version=1.0.0.0,            Culture=neutral, PublicKeyToken=null" moduleName="TrendsManagerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule" />
        <dependency moduleName="ParametersProviderModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.ParametersProvider.dll" moduleType="E3.ReactorManager.ParametersProvider.ParametersProviderModule,            E3.ReactorManager.ParametersProvider,            Version=1.0.0.0,            Culture=neutral, PublicKeyToken=null" moduleName="ParametersProviderModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="HardwareAbstractionLayerModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.UserManager.dll" moduleType="E3.UserManager.UserManagerModule,            E3.UserManager,            Version=1.0.0.0,            Culture=neutral, PublicKeyToken=null" moduleName="UserManagerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="FrameworkModule" />
        <dependency moduleName="DataAbstractionLayerModule" />
        <dependency moduleName="DialogServicesModule" />
      </dependencies>
    </module>
  </modules>
  <connectionStrings>
    <add name="DBconnection" connectionString="Data Source = .\SQLEXPRESS;Initial Catalog = USV_ReactorDB;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>