<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="file" xsi:type="File" fileName="${specialfolder:folder=DesktopDirectory}/Resources/Logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <modules>
    <module moduleName="FileAccess" startupLoaded="true" assemblyFile="E3Tech.IO.FileAccess.dll"
            moduleType="E3Tech.IO.FileAccess.FileAccessModule, E3Tech.IO.FileAccess"/>
    <module moduleName="FrameworkModule" startupLoaded="true" assemblyFile="E3.ReactorManager.Framework.dll"
            moduleType="E3.ReactorManager.Framework.FrameworkModule, E3.ReactorManager.Framework"/>
    <module moduleName="DialogServicesModule" startupLoaded="true" assemblyFile="E3.DialogServices.dll"
            moduleType="E3.DialogServices.DialogServicesModule, E3.DialogServices"/>
    <module moduleName="Mediator" startupLoaded="true" assemblyFile="E3.Mediator.dll"
            moduleType="E3.Mediator.MediatorModule, E3.Mediator"/>
    <module moduleName="AuditTrailManager" startupLoaded="true" assemblyFile="E3.AuditTrailManager.dll"
            moduleType="E3.AuditTrailManager.AuditTrailManagerModule, E3.AuditTrailManager">
      <dependencies>
        <dependency moduleName="DbModule"/>
      </dependencies>
    </module>
    <module moduleName="UserManager" startupLoaded="true" assemblyFile="E3.UserManager.dll"
            moduleType="E3.UserManager.UserManagerModule, E3.UserManager">
      <dependencies>
        <dependency moduleName="DbModule"/>
        <dependency moduleName="AuditTrailManager"/>
      </dependencies>
    </module>
    <module moduleName="DbModule" startupLoaded="true" assemblyFile="E3.ReactorManager.DataAbstractionLayer.dll"
            moduleType="E3.ReactorManager.DataAbstractionLayer.DataAbstractionLayerModule, E3.ReactorManager.DataAbstractionLayer">
      <dependencies>
        <dependency moduleName="FrameworkModule"/>
      </dependencies>
    </module>
    <module moduleName="HwModule" startupLoaded="true" assemblyFile="E3.ReactorManager.HardwareAbstractionLayer.dll"
            moduleType="E3.ReactorManager.HardwareAbstractionLayer.HardwareAbstractionLayerModule, E3.ReactorManager.HardwareAbstractionLayer">
      <dependencies>
        <dependency moduleName="DbModule"/>
      </dependencies>
    </module>
    <module moduleName="UiModule" startupLoaded="true" assemblyFile="Anathem.Ui.dll"
            moduleType="Anathem.Ui.UiModule, Anathem.Ui">
      <dependencies>
        <dependency moduleName="HwModule"/>
      </dependencies>
    </module>
    <module moduleName="NavigationModule" startupLoaded="true" assemblyFile="E3Tech.Navigation.dll" moduleType="E3Tech.Navigation.NavigationModule, E3Tech.Navigation"/>
    <module moduleName="RecipeModule" startupLoaded="true" assemblyFile="E3Tech.RecipeBuilding.dll"
            moduleType="E3Tech.RecipeBuilding.RecipeBuildingModule, E3Tech.RecipeBuilding">
      <dependencies>
        <dependency moduleName="HwModule"/>
        <dependency moduleName="NavigationModule"/>
        <dependency moduleName="FileAccess"/>
        <dependency moduleName="Mediator"/>
      </dependencies>
    </module>
    <module moduleName="RecipePlcIntegratorModule" startupLoaded="true" assemblyFile="E3.ReactorManager.Recipe.PLCIntegrator.dll"
            moduleType="E3.ReactorManager.Recipe.PLCIntegrator.RecipePLCIntegratorModule, E3.ReactorManager.Recipe.PLCIntegrator">
      <dependencies>
        <dependency moduleName="RecipeModule"/>
        <dependency moduleName="HwModule"/>
        <dependency moduleName="UiModule"/>
      </dependencies>
    </module>
  </modules>
  <connectionStrings>
    <add name="DBconnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Anthem;User ID=sa;Password=SQLEXPRESS;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>