<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <modules>
    <module assemblyFile="E3.ReactorManager.DataAbstractionLayer.dll" moduleType="E3.ReactorManager.DataAbstractionLayer.DataAbstractionLayerModule, 
            E3.ReactorManager.DataAbstractionLayer,Version=1.0.0.0,Culture=neutral, PublicKeyToken=null" moduleName="DataAbstractionLayerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="FrameworkModule" />
      </dependencies>
    </module>
    <module assemblyFile="E3.DialogServices.dll" moduleType="E3.DialogServices.DialogServicesModule, E3.DialogServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DialogServicesModule" startupLoaded="true"/>
    <module moduleName="MediatorModule" startupLoaded="true" assemblyFile="E3.Mediator.dll"
            moduleType="E3.Mediator.MediatorModule, E3.Mediator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <module moduleName="FrameworkModule" startupLoaded="true" assemblyFile="E3.ReactorManager.Framework.dll"
            moduleType="E3.ReactorManager.Framework.FrameworkModule, E3.ReactorManager.Framework, Culture=neutral, PublicKeyToken=null, Version=1.0.0.0"/>
    <module moduleName="DbModule" startupLoaded="true" assemblyFile="E3.ReactorManager.DataAbstractionLayer.dll"
            moduleType="E3.ReactorManager.DataAbstractionLayer.DataAbstractionLayerModule, E3.ReactorManager.DataAbstractionLayer, Culture=neutral, Version=1.0.0.0, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="FrameworkModule"/>
      </dependencies>
    </module>
    <module moduleName="TrendsModule" startupLoaded="true" assemblyFile="E3.TrendsManager.dll"
            moduleType="E3.TrendsManager.TrendsManagerModule, E3.TrendsManager, Culture=neutral, Version=1.0.0.0, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="DbModule"/>
      </dependencies>
    </module>
    <module assemblyFile="E3.UserManager.dll" moduleType="E3.UserManager.UserManagerModule,             E3.UserManager,             Version=1.0.0.0,              Culture=neutral, PublicKeyToken=null" moduleName="UserManagerModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule" />
        <dependency moduleName="DialogServicesModule" />
        <dependency moduleName="FrameworkModule" />
        <dependency moduleName="MediatorModule" />
      </dependencies>
    </module>
  </modules>
  <connectionStrings>
    <add name="DBconnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EisaiReactorDB;Persist Security Info=True;User ID=sa;Password=SQLEXPRESS;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>