<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <appSettings>
    <add key="MqttBrokerIp" value="127.0.0.1"/>
    <!--<add key="MqttClientId" value="clientId-4g200Pk5KE"/>-->
  </appSettings>
  <modules>
    <module moduleName="TrendsModule" startupLoaded="true" assemblyFile="E3.TrendsManager.dll"
            moduleType="E3.TrendsManager.TrendsManagerModule, E3.TrendsManager, Culture=neutral, Version=1.0.0.0, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule"/>
        <dependency moduleName="MediatorModule"/>
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.VideoCaptureDevicesHandler.dll" moduleName="VideoCaptureDevicesModule" startupLoaded="true"
            moduleType="E3.ReactorManager.VideoCaptureDevicesHandler.VideoCaptureDevicesHandlerModule, E3.ReactorManager.VideoCaptureDevicesHandler, Culture=neutral, Version=1.0.0.0, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="ParametersProviderModule"/>
      </dependencies>
    </module>
    <module assemblyFile="E3.ReactorManager.ParametersProvider.dll" moduleName="ParametersProviderModule" startupLoaded="true"
            moduleType="E3.ReactorManager.ParametersProvider.ParametersProviderModule, E3.ReactorManager.ParametersProvider, Culture=neutral, Version=1.0.0.0, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="HardwareAbstractionLayerModule"/>
      </dependencies>
    </module>
    <module assemblyFile="E3.Mediator.dll" moduleType="E3.Mediator.MediatorModule, E3.Mediator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="MediatorModule" startupLoaded="true"/>
    <module moduleName="DialogServicesModule" assemblyFile="E3.DialogServices.dll" startupLoaded="true"
            moduleType="E3.DialogServices.DialogServicesModule, E3.DialogServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <module moduleName="MqttModule" assemblyFile="E3.MqttProvider.dll" startupLoaded="true"
            moduleType="E3.MqttProvider.MqttProviderModule, E3.MqttProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <module moduleName="UiModule" assemblyFile="E3.RemoteClient.Ui.dll" startupLoaded="true"
            moduleType="E3.RemoteClient.Ui.UiModule, E3.RemoteClient.Ui, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="HardwareAbstractionLayerModule"/>
        <dependency moduleName="DialogServicesModule"/>
      </dependencies>
    </module>
    <module moduleName="FrameworkModule" assemblyFile="E3.ReactorManager.Framework.dll" startupLoaded="true"
            moduleType="E3.ReactorManager.Framework.FrameworkModule, E3.ReactorManager.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <module moduleName="DataAbstractionLayerModule" assemblyFile="E3.ReactorManager.DataAbstractionLayer.dll" startupLoaded="true"
              moduleType="E3.ReactorManager.DataAbstractionLayer.DataAbstractionLayerModule, E3.ReactorManager.DataAbstractionLayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="FrameworkModule"/>
      </dependencies>
    </module>
    <module moduleName="HardwareAbstractionLayerModule" assemblyFile="E3.ReactorManager.HardwareAbstractionLayer.dll" startupLoaded="true"
              moduleType="E3.ReactorManager.HardwareAbstractionLayer.HardwareAbstractionLayerModule, E3.ReactorManager.HardwareAbstractionLayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule"/>
      </dependencies>
    </module>
    <module moduleName="BpuModule" assemblyFile="E3.Bpu.dll" startupLoaded="true"
              moduleType="E3.Bpu.BpuModule, E3.Bpu, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="HardwareAbstractionLayerModule"/>
        <dependency moduleName="DataAbstractionLayerModule"/>
        <dependency moduleName="MqttModule"/>
      </dependencies>
    </module>
    <module moduleName="UserManagerModule" assemblyFile="E3.UserManager" startupLoaded="true"
            moduleType="E3.UserManager.UserManagerModule, E3.UserManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule"/>
        <dependency moduleName="AuditTrailManagerModule"/>
      <dependency moduleName="FrameworkModule"/>
      </dependencies>
    </module>
    <module moduleName="AuditTrailManagerModule" assemblyFile="E3.AuditTrailManager" startupLoaded="true"
            moduleType="E3.AuditTrailManager.AuditTrailManagerModule, E3.AuditTrailManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule"/>
      </dependencies>
    </module>
    <module moduleName="DesignExperimentModule" assemblyFile="E3.ReactorManager.DesignExperiment.dll" startupLoaded="true"
            moduleType="E3.ReactorManager.DesignExperiment.DesignExperimentModule, E3.ReactorManager.DesignExperiment, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <dependencies>
        <dependency moduleName="DataAbstractionLayerModule"/>
        <dependency moduleName="HardwareAbstractionLayerModule"/>
      <dependency moduleName="MediatorModule"/>
      </dependencies>
    </module>
  </modules>
<connectionStrings>
  <add name="DBconnection" connectionString="Data Source=192.168.0.109\SQLEXPRESS;Initial Catalog=EisaiReactorDB;User ID=sa;Password=SQLEXPRESS;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>